body{
	background: #ff8080;
}
.naslov{
	color: white;
	font-family: arial;
	font-size: 40px;
	text-align: center;
}
form{
	color: white;
}
legend{
	font-size: 30px;
	text-align: center;
}
input[type=text],select{
	border: solid 2px blue;
	border-radius: 15px;
}
input[type=number]{
	border: solid 2px blue;
	border-radius: 15px;
}
input[type=submit]{
	background: black;
	color:white;
}
input[type=reset]{
	background: black;
	color:white;
}